@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    background-color: black;
}

.topnav{
    background-color: white;
    position: fixed;

    width: 100%;
    height: 94px;
    left: 0;
    top: 0px;

  }

  .topnav a img{
    float: right;
    width: 300px;
    height: 51px;
    position: absolute;
 
    margin-top: 22px;
    margin-right: 53px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    right: 53px;
    bottom: 21px;
 
  }

 label #btn,
 label #cancel{
     color: white;
     width: 16px;
     height: 10px;
     position: absolute;

     top: 91px;
     left: 10px;
     cursor: pointer;
     display: none;


 }
 #check{
   display: none;
 }
  .sidenav ul {
    
  width: 90px;
  position: absolute;

  margin-top: 147px;
  margin-left: 19px;
  right: 1315px;
  background-color: black;
  z-index: -1;
}

.sidenav  ul li{
  padding-left: 0px;
  margin-left: 0px;

  margin: 0 15px;
  display: block;
}

.sidenav  ul li a {
  padding: 10px 8px 16px 50px;
  line-height: 50px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

  .line{
    border-left: 1px solid white;
    position: fixed;

    margin-left: 125px;
    top: 0px;
    height: 100%;
    z-index: -9;
    

  }

  .headline h2{
    color: white;
    position: absolute;

    height: 38px;
    width: 137px;
    margin-left: 174px;
    margin-top: 147px;
    padding-top: 10px;
    padding-left: 0px;
    font-family: 'Squada One', cursive; 
    font-size: 36px;
    line-height: 38px;

  }
  p{
    color: white;
    position: absolute;

    margin-left: 174px;
    margin-top:189px;
    padding-top: 6px;
    padding-left: 0px;
    width: 433px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    
  }
.quote p{
    height: 422px;
    font-family: 'Anton', sans-serif;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    color: white;
    position: absolute;
    margin-left: 429px;
    margin-top: 317px;
    padding-top: 50px;
    line-height: 422px;
    z-index: -1;
  }
  .quote1 p{
    font-size: 288px;
    font-style: normal;
    font-family: 'Anton', sans-serif;
    float: right;
    color: white;
    position: absolute;
    margin-top:317px;
    padding-top: 50px;
    margin-left: 856px;
    padding-right: 2px;
    line-height: 422px;
    z-index: -1;
  }
  .quote2 p{
    font-size: 288px;
    font-family: 'Anton', sans-serif;
    float: left;
    color: white;
    position: absolute;
    margin-top:609px;
    margin-left: 174px;
    padding-top: 50px;
    line-height: 422px;
    z-index: -1;
  }
  .quote3 p{
    font-size: 288px;
    font-family: 'Anton', sans-serif;
    float: left;
    color: white;
    position: absolute;
    margin-top:609px;
    margin-left: 429px;
    padding-top: 50px;
    padding-left: 2px;
    line-height: 422px;
    z-index: -1;
    
  }

  .about h1{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 550px;
    top:0px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }
  .about h2{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position:absolute;
    top: 120px;
    left: 550px;
    flex-wrap: wrap;
  }

  .about p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position:absolute;
    top: 520px;
    left: 550px;
    width: 50%;
    flex-wrap: wrap;
               
  }

  .rectangle{
      background: grey;
      position: absolute;
      width: 89.9%;
      height: 500px;
      top: 1200px;
      left: 142px;
      z-index: -1;


  }
  .name h1{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 200px;
    top: 970px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }

  .name h2{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 200px;
    top: 1150px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }

  .intro h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 1700px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;
    flex-wrap: wrap;

  }
  .intro p{
    color: white;
    position: absolute;
    left: 200px;
    top:1750px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    flex-wrap: wrap;
    
  }

  .rectangle2{
    background: grey;
    position: absolute;
    width: 89.9%;
    height: 450px;
    top: 2150px;
    left: 142px;
    z-index: -1;


}
.name2 h1{
  font-size: 4.5cm;
  font-family: 'Anton', sans-serif;
  color: white;
  position: absolute;
  right: 20px;
  top: 1950px;
  line-height: 4.5cm;
  flex-wrap: wrap;
}

.name2 h2{
  font-size: 4.5cm;
  font-family: 'Anton', sans-serif;
  color: white;
  position: absolute;
  right: 20px;
  top: 2100px;
  line-height: 4.5cm;
  flex-wrap: wrap;
}

.intro2 h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 2650px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;
    flex-wrap: wrap;

  }

.intro2 p{
    color: white;
    position: absolute;
    left: 200px;
    top:2700px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    flex-wrap: wrap;
    
  }

