@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Squada+One&display=swap');

body{
    background-color: black;
}

.topnav{
    background-color: white;
    position: absolute;;
    width: 100%;
    height: 52px;
    left: 0;
    top: 0;
  }

  .topnav a{
    float: right;
    text-decoration: none;
    color:black;
    font-size: 45px;
    font-weight: bold;
    background-color:white;
    margin-right: 50px;
  }
  .sidenav {
  height: 100%;
  width: 150px;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 8px 16px 50px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: block;
}

  .line{
    border-left: solid white;
    position:absolute;
    left: 150px;
    top: 0px;
    height: 100%;
    

  }

  .headline h2{
    color: white;
    position:absolute;
    left: 200px;
    top: 65px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;

  }
  p{
    color: white;
    position: absolute;
    left: 200px;
    top:115px;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    
  }
.quote h1{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    float: right;
    color: white;
    position:absolute;
    left: 50%;
    top:110px;
    line-height: 5cm;
  }
  .quote h2{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    float: left;
    color: white;
    position:absolute;
    top: 255px;
    left: 200px;
  }