@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&family=Squada+One&display=swap');

body{
    background-color: black;
}

.topnav{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 56px;
    left: 0;
    top: 0;
    flex-wrap: wrap;
  }

  .topnav a img{
    float: right;
    height: 40px;
    margin-right: 50px;
    margin-top: 15px;
 
  }

 label #btn,
 label #cancel{
     color: white;
     height: 30px;
     position: absolute;
     top: 60px;
     left: 5px;
     cursor: pointer;
     display: none;


 }
 #check{
   display: none;
 }
  .sidenav ul {
    
  width: 120px;
  position: fixed;
  top: 60px;
  background-color: black;
  overflow-x: hidden;
  padding-left: 0px;
  flex-wrap: wrap;
  z-index: -1;
}

.sidenav  ul li a {
  padding: 10px 8px 16px 50px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: block;
  flex-wrap: wrap;
}

  .line{
    border-left: solid white;
    position: fixed;
    left: 150px;
    top: 0px;
    height: 100%;
    z-index: -9;
    

  }

  .headline h2{
    color: white;
    position:fixed;
    left: 200px;
    top: 65px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;
    flex-wrap: wrap;

  }
  p{
    color: white;
    position: fixed;
    left: 200px;
    top:115px;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    flex-wrap: wrap;
    
  }
.quote h1{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    float: right;
    color: white;
    position:fixed;
    left: 50%;
    top:110px;
    line-height: 5cm;
    flex-wrap: wrap;
  }
  .quote h2{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    float: left;
    color: white;
    position:fixed;
    top: 255px;
    left: 200px;
    flex-wrap: wrap;
  }

  .about h1{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 550px;
    top:0px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }
  .about h2{
    font-size: 5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position:absolute;
    top: 120px;
    left: 550px;
    flex-wrap: wrap;
  }

  .about p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position:absolute;
    top: 520px;
    left: 550px;
    width: 50%;
    flex-wrap: wrap;
               
  }

  .rectangle{
      background: grey;
      position: absolute;
      width: 89.9%;
      height: 500px;
      top: 1200px;
      left: 142px;
      z-index: -1;


  }
  .name h1{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 200px;
    top: 970px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }

  .name h2{
    font-size: 4.5cm;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 200px;
    top: 1150px;
    line-height: 4.5cm;
    flex-wrap: wrap;
  }

  .intro h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 1700px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;
    flex-wrap: wrap;

  }
  .intro p{
    color: white;
    position: absolute;
    left: 200px;
    top:1750px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    flex-wrap: wrap;
    
  }

  .rectangle2{
    background: grey;
    position: absolute;
    width: 89.9%;
    height: 450px;
    top: 2150px;
    left: 142px;
    z-index: -1;


}
.name2 h1{
  font-size: 4.5cm;
  font-family: 'Anton', sans-serif;
  color: white;
  position: absolute;
  right: 20px;
  top: 1950px;
  line-height: 4.5cm;
  flex-wrap: wrap;
}

.name2 h2{
  font-size: 4.5cm;
  font-family: 'Anton', sans-serif;
  color: white;
  position: absolute;
  right: 20px;
  top: 2100px;
  line-height: 4.5cm;
  flex-wrap: wrap;
}

.intro2 h2{
    color: white;
    position: absolute;
    left: 200px;
    top: 2650px;
    font-family: 'Squada One', cursive; 
    font-size: 30px;
    line-height: 38px;
    flex-wrap: wrap;

  }

.intro2 p{
    color: white;
    position: absolute;
    left: 200px;
    top:2700px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    flex-wrap: wrap;
    
  }

